/* You can add global styles to this file, and also import other style files */
@mixin title {
  font-size: 4em;
  font-weight: 100;
  text-transform: uppercase;
}

.open {
  transition: all .3s ease;
  background: lightblue;
}
